edge-ai-groupXX/node-red/flows.json
[
    {
        "id": "tab_room_temp",
        "type": "tab",
        "label": "Room Temperature Monitor",
        "disabled": false,
        "info": "Displays live room temperature and anomaly alerts from MQTT"
    },
    {
        "id": "mqtt_in_temperature",
        "type": "mqtt in",
        "z": "tab_room_temp",
        "name": "Subscribe temperature",
        "topic": "room/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 160,
        "y": 100,
        "wires": [["parse_temperature", "chart_temperature"]]
    },
    {
        "id": "mqtt_in_alerts",
        "type": "mqtt in",
        "z": "tab_room_temp",
        "name": "Subscribe alerts",
        "topic": "room/temperature/alerts",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 160,
        "y": 200,
        "wires": [["parse_alert", "text_alert"]]
    },
    {
        "id": "parse_temperature",
        "type": "function",
        "z": "tab_room_temp",
        "name": "Extract temperature",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 100,
        "wires": [["gauge_temperature", "text_temperature"]]
    },
    {
        "id": "parse_alert",
        "type": "function",
        "z": "tab_room_temp",
        "name": "Format alert",
        "func": "msg.payload = '⚠ ANOMALY: ' + msg.payload.reason + ' (' + msg.payload.temperature.toFixed(2) + ' °C)';\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 200,
        "wires": [["text_alert"]]
    },
    {
        "id": "gauge_temperature",
        "type": "ui_gauge",
        "z": "tab_room_temp",
        "name": "Temperature Gauge",
        "group": "group_main",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Room Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 10,
        "max": 45,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 30,
        "seg2": 35,
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "text_temperature",
        "type": "ui_text",
        "z": "tab_room_temp",
        "name": "Temperature Value",
        "group": "group_main",
        "order": 2,
        "width": 3,
        "height": 1,
        "title": "Latest Reading",
        "format": "{{msg.payload}} °C",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "chart_temperature",
        "type": "ui_chart",
        "z": "tab_room_temp",
        "name": "Temperature Chart",
        "group": "group_chart",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "10",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4"],
        "x": 660,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "text_alert",
        "type": "ui_text",
        "z": "tab_room_temp",
        "name": "Alert Display",
        "group": "group_alerts",
        "order": 1,
        "width": 12,
        "height": 2,
        "title": "Anomaly Alerts",
        "format": "{{msg.payload}}",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node-red-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "group_main",
        "type": "ui_group",
        "name": "Live Data",
        "tab": "ui_tab_room",
        "order": 1,
        "disp": true,
        "width": 12
    },
    {
        "id": "group_chart",
        "type": "ui_group",
        "name": "Temperature History",
        "tab": "ui_tab_room",
        "order": 2,
        "disp": true,
        "width": 12
    },
    {
        "id": "group_alerts",
        "type": "ui_group",
        "name": "Anomaly Alerts",
        "tab": "ui_tab_room",
        "order": 3,
        "disp": true,
        "width": 12
    },
    {
        "id": "ui_tab_room",
        "type": "ui_tab",
        "name": "Room Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
